
<h1 id="headline">Stupid Coaching</h1>
<div class="question box">
  <p>Your Question:</p>
  <p class="italic">- <%= params["question"] %></p>
</div>

<div class="answer box">
  <p>Your coach says:</p>
  <p class="italic">- <%= @answer %></p>
</div>

<div class="home">
  <%= link_to "Ask Another Question", ask_path %>
</div>






