
    </br>
    <h1 id="headline">Your coach anything.</h1>
<form action="answer" method="get">
  <div class="form-group d-flex">
    <input type="text" id="question" name="question" class="form-control">
    <input type="submit" name="submit_question" class="form-control btn btn-primary">
  </div>
</form>
