// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.box {
  padding: 10px 20px;
  border-left: solid 5px #c4c4c4;
  width: 80%;
  margin: 20px 10px;
}

.home {
  margin: 20px 10px;
  padding: 10px 20px;
}

.answer{
  background-color: #ffffe1;

}


.question {

}

.box p.italic {
  font-style: italic;
}

#question.form-control {
  width: 75%;
}

.form-control.btn {
  width: 15%!important;
}

#headline {
  margin: 10px 20px;
}

form {
  margin: 10px 20px;
}
